---
layout: default
---

{% include header.html %}
<div class="container">
	<div class="section-title">	
		<i class="sectiom-title-thumbnail fa fa-newspaper"></i>
		<h2>ཟིན་བྲིས།</h2>
	</div>
	<section class="grid-blog post">
		{% for post in site.posts %}
			{% if post.layout == 'blog' %}
				<article class="blog">
					<a href="{{ post.url }}">
					<div class="podcast-list-meta">
						{% if post.img %}
						<img src="{{ site.baseurl }}/assets/images/{{post.img}}">
						{% endif %}
							<h2> {{ post.title }}</h2>
						<p class="excerpt">
							 {{post.excerpt}}
						</p>
					</div>
					</a>
				</article>
			{% else %}
			<!--
			<article class="blog">
					<div class="podcast-list-meta">
							<h2> <i class="far fa-frown-open"></i> .. No posts available </h2>						
					</div>
					
				</article>
			-->

			{% endif %}
		{% endfor %}
	</section>
<div class="section-title">
	<i class="sectiom-title-thumbnail fa fa-volume-up"></i>
		<h2>སྐད་འཕྲིན་གླེང་མོལ།</h2>
</div>

<section class="grid-blog-audio">
		{% for post in site.posts %}
			{% if post.layout == 'audio-blog' %}
				<article class="">
					<a href="{{ post.url }}" class="audio-blog-link">
					<div class="podcast-list-meta">
							<h2> {{ post.title }}</h2>
							<p>{{ post.excerpt}}</p>
					</div>		
					</a>
				</article>
			{% else %}
			<!--
			<article class="blog">
					<div class="podcast-list-meta">
							<h2> <i class="far fa-frown-open"></i> .. No posts available </h2>						
					</div>
					
				</article>
			-->

			{% endif %}
		{% endfor %}
	</section>
	
</div>

{% include footer.html %}
