---
layout: default
---
<div class="container">
	<div class="">
		
		<div class="starry-marquee">
			<div class="stars"></div>
			<div class="twinkling"></div>
			<div class="marquee-container">
				<div class="marquee">
					<a target="_blank" href="https://763f371c.khorlo.pages.dev">
						<h3 class="glow">
							<span>★</span> སྐར་ཁུང་གི་ཁ་བརྡ་ཁང་ནང་ཕེབས་ཤོག <span>★</span>
						</h3>
					</a>
				</div>
			</div>
			<style>
				
			</style>
		</div>
	
	</div>
	<section class="grid-podcast">
		{% for post in site.posts %}
			{% if post.layout == 'podcast' %}
				<article class="podcast-list">
					<div>
						<img src="{{post.cover}}" alt="{{post.cover}}">
						<p></p>
					</div>
					<div class="podcast-list-meta">
						<div>
						<span>ལས་རིམ {{post.episode}}: </span>
						<p><a href="{{ post.url }}"> {{ post.title }}</a></p>
						</div>
	
						<span>
							<i class="fa fa-clock"></i> {{post.length}} Minutes  |  
							<i class="fa fa-calendar"></i> {{ post.time | date_to_string  }} 
						</span>
						<!--
						<span>
							<i class="fa fa-flag"></i>  {{post.category}}
						</span>
					-->
					</div>
				</article>
			{% endif %}
		{% endfor %}
	</section>

	<!--
	<div class="section-title">
		<h1>POST <i class="fa fa-newspaper"></i></h1>
		<p style="color:white" class="paginate">
			<span>{% if paginator.total_pages > 1 %}
				  {% if paginator.previous_page %}
				    <a href="{{ paginator.previous_page_path }}"><i class="fa fa-chevron-left"></i></a>
				  {% else %}
				  {% endif %}
				{% endif %}</span>
			<span class="paginate-current-page">{{ paginator.page }} / </span>
			<span class="paginate-total-page">{{ paginator.total_pages }}</span>
			<span><a href="{{ paginator.next_page_path }}"><i class="fa fa-chevron-right"></i></a></span>
		</p>
	</div>
	
	<section class="full-width series">
		
	</section>
	
	-->
</div>

