<footer>

<div class="f-widget">
	<div class="widget">
		<a href="http://melhong.com/">
			<img src="{{site.baseurl}}/assets/icons/melhong-logo.jpg">
		</a>
		<a href="http://melhong.cn/">melhong.cn</a>

	</div>
	<div class="widget">
		<center><img src="/assets/icons/qr.jpg" width="150px" style="padding: 0px 20px" ></center>
		
	</div>
	
	<div class="widget">
		<center>
			<span><a href="{{site.baseurl}}../podcast-google.xml" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i> RSS</a></span>
		</center>
		
	</div>
</div>	


</footer>
<script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
<script>
  const player = new Plyr('#player');
</script>

<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "512be3e258a64ff788125eae3e27a17d"}'></script><!-- End Cloudflare Web Analytics -->
</body>
</html>