<footer>
<center><span><a href="{{site.baseurl}}../podcast-google.xml" target="_blank">RSS</a></span></center>
<div class="f-widget">
	<div class="widget">
		<a href="http://melhong.com/">
			<img src="{{site.baseurl}}/assets/icons/melhong-logo.jpg">
		</a>
		<a href="http://melhong.com/">melhong.org</a>
	</div>
	<div class="widget">
		
	</div>
</div>	



</footer>
<script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
<script>
  const player = new Plyr('#player');
</script>
<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('/sw.js');
    });
  } else {
  	console.log('service worker not supported');
  }
</script>
</body>
</html>