<!DOCTYPE html>
<html lang="bo">
<head>
<meta content="{{ site.title }}" property="og:site_name">
{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
{% else %}
  <meta content="{{ site.title }}" property="og:title">
{% endif %}
{% if page.title %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="website" property="og:type">
{% endif %}

{% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
{% else %}
  <meta content="{{ site.description }}" property="og:description">
{% endif %}
{% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}
{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author">
{% endif %}
{% if page.image %}
  <meta content="{{ site.url }}/assets/img/posts/{{ page.image }}" property="og:image">
{% else %}
  <meta content="{{ site.url }}/assets/img/logo-high-resolution.png" property="og:image">
{% endif %}
{% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section">
  {% endfor %}
{% endif %}
{% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
{% endif %}

	<title>{{site.title}} || {{page.episode}}</title>
  <link rel="icon" href="{{site.baseurl}}/assets/icons/icon-sm.png" type="image/x-icon" sizes="16x16">
  <script src="{{site.baseurl}}/a2h.js" defer></script>
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/style.css">
	<link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
	<link rel="stylesheet" href="{{site.baseurl}}/assets/fontawesome/css/fontawesome.min.css" type="text/css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/fontawesome/css/all.css" type="text/css">
  <link rel="manifest" href="{{site.baseurl}}/manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#5f5eaa">
  <meta name="msapplication-TileColor" content="#5f5eaa">
  <meta name="msapplication-navbutton-color" content="#5f5eaa">
  <meta name="apple-mobile-web-app-status-bar-style" content="#5f5eaa">
  <link type="application/rss+xml" rel="alternate" title="Title_Value" href="{{site.baseurl}}../podcast-google.xml"/>
  <script type="text/javascript" src="{{ "/assets/js/main.js" | prepend: site.baseurl | prepend: site.url }}"></script>
 <script type="text/javascript" src="{{ "/assets/js/media-session.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-69420725-21"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-69420725-21');
</script>

<!-- Hotjar Tracking Code for karkhung.cn -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2181102,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PV4TF6W"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
	<nav>
		<div class="nav-title">
      <a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/assets/icons/logo-min.png" width="150px">
      </a>

      <span class="add-button">
         <i class="fa fa-plus-square"></i>
         add to home
       </span>  
    </div>
		<div class="nav-menu">
			<a href="{{site.baseurl}}/index.html"><span>སྒྲ་མཛོད། </span><i class="fa fa-podcast" aria-hidden="true"></i></a>
      <a href="{{site.baseurl}}/blog.html">ཟིན་བྲིས། <i class="fas fa-newspaper"></i></a>
			<a href="{{site.baseurl}}/page/about">སྐར་ཁུང་གི་སྐོར་།  <i class="fa fa-female" aria-hidden="true"></i></a>
		</div>
	</nav>
    <nav class="nav-mobile">
      <a href="{{site.baseurl}}/index.html#">
        <i class="fa fa-home" aria-hidden="true"></i>
      </a>
      <a href="{{site.baseurl}}/index.html">
        <i class="fa fa-podcast" aria-hidden="true"></i>
      </a>
       <a href="{{site.baseurl}}/blog.html">
        <i class="fa fa-newspaper" aria-hidden="true"></i>
      </a>
      <a href="{{site.baseurl}}/page/about">
        <i class="fa fa-female" aria-hidden="true"></i>
      </a>
  </nav>
</header>
