/*
#c85b03 lightbrown
#f3d519 yellow;
#681712 brown
*/
@font-face {
  font-family: qomo-title;
  src: url(../fonts/Qomolangma-Title.ttf);
}
@font-face {
  font-family: qomo-suring;
  src: url(../fonts/Qomolangma-UchenSuring.ttf);
}
body{
	background-color: #e6e6e6;
	margin:0px;
	padding:0px;
	font-family: qomo-title;
	color: #807e7e;
	text-decoration: none;
	line-height: 23px;
	transition: .2s;
	font-family: 
}
h1,h2,h3,h4,h5,h6{
	margin:0px;
	padding: 0px;
	color:#681712;
}
p,a{
	font-family: qomo-suring;
}
header,footer,.container{
	width:100vw;
	float: left;
	position: relative;
}
.container{
	height: auto;
	min-height: 100vh;
}
.section-title{
	width:1200px;
	margin:20px auto;
	display: grid;
	grid-template-columns: 1000px 200px;
}
.section-title h1{
	padding:20px;
	color:#1f1f1f;
}
.section-title i{
	color:#1f1f1f;
	font-size: 25px;
	padding:5px;
}
.social a:hover i{color:#403e3e;}
header{
	background-color: #e6e6e6;
	color:  black;
	background-image: url(/assets/icons/top.png);
	background-size: 140px;
	background-repeat: repeat-x;
}
.full-width,nav,.f-widget{
	width:1200px;
	margin:0px auto;
}

.full-width,.dashboard{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
nav{
	display: grid;
	grid-template-columns: 3fr 1fr;
	margin-top:50px;
}
.nav-mobile{
	display:none;
}
.nav-title a,.nav-menu a{ 
display: inline;
vertical-align: middle;
}
.nav-title img{
	
}
.nav-menu{
	text-align: right;
	padding:20px;
font-size: 20px;
}
.nav-menu a{
	color:#681712;
	padding:5px;

}

article{
	padding:15px;
	margin:10px;
	border-radius: 10px
}
a{
color:#6f4f21;
text-decoration: none;	
}
article h1{
	text-align: left;
	border-bottom: 3px solid #ff7100;
    padding: 15px 11px;
}
article p{
	margin:0px 5px;
	padding:10px 0px;
	line-height: 25px;
	word-wrap: break-word;
	color:#404040;
}
.podcast-list{
	display: grid;
	grid-template-columns: 0fr 3fr;
	padding: 10px;
    grid-gap: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px gray;
    background:#3c2218;
}

.podcast-list img{
	width:100px;
	overflow: hidden;
}

.podcast-list p{
	overflow: hidden;
	font-size: 20px;
}
.podcast-list a{
	color:#f3d519 ;
}
.podcast-list-meta span{
	    font-size: 14px;
    color: white;
}
.podcast-list-meta  p span{
    padding: 0px 8px;
    color: white;

	
}
.paginate{
padding:10px;
font-size: 20px
}
.paginate .fa{
	color:#ede1d0;
}
.paginate span i{
	background:#1f1f1f;
	padding:5px 10px;
	border-radius: 5px;
}
.paginate-current-page,.paginate-total-page{
	color:#1f1f1f;;
}
.PageNavigation{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.podcast-list-meta span .fa{
	font-size: 12px;
}

.half-width{
	width:1200px;
	margin:0px auto;
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.playbox{
	display: grid;
	grid-template-columns:1fr 200px;
	grid-gap: 20px;
	padding:10px;
	background-attachment: fixed;
    background-size: 50vw;
    background-position: center;
}
.playbox-container{
	background: linear-gradient(90deg, rgba(66,66,66,330.515844) 1%, rgba(2,0,36,0.683911) 99%);
	padding: 20px;
	height:160px;
}
.playbox p{
	font-size: 13px;
	color:white;
}
.playbox h1{
	color:#f3d519;
	border:none;
	font-size: 20px;
}

.playbox p,.playbox h1{
	padding: 2px 10px;
	margin:0px;
	text-shadow: 0px 0px 3px black;
}
.img-md{
	width:100%;
	box-shadow: 0 0 6px black;
}
.half-width .social a .fab,.half-width .social a .fas{
		font-size: 15px;
		text-shadow: 0px 0px 3px black;
   		 margin: 10px;
	}
.social center{
		width:100%;
		
	}
.meta span{
	padding: 4px 8px;
    margin: 0px;
    color: #babbbb;
    font-size: 12px;
    border-radius:5px;
}
footer{margin-top:50px;
	background:#681112;
	height:200px;
background-image: url(/assets/icons/background.jpg);
    background-size: 25px;
    background-repeat: repeat-x;
    display: flex;
}
footer span{
	padding: 3px 20px; 
    color: white;
    font-size: 12px;
}
footer .f-widget{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
.widget{
	padding:50px 26px;
}
.widget a, .widget img{
	vertical-align: middle;
}
.widget img{width:80px;}
.widget a{
	padding:5px;
	font-size: 20px
}
/*-------------------- Player controls ----------------*/
.plyr--audio .plyr__controls{
	border:0px;
	background:#1F1F1F;
}

:root {
  --plyr-color-main:#87B3FB;
}
.plyr--audio{
	padding:10px ;
}
.add-button{
	color:white;
    margin-top: 10px;
    padding: 5px 25px;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(50%, rgba(241,111,92,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 20px;
    border: 3px solid white;
    box-shadow: 1px 1px 3px grey;
    border-right: 0px;
    position: fixed;
    top:0px;
    right:0px;
    z-index: 2;
}

/*-------------------- Responsive for mobile devices ----------------*/

@media only screen and (max-width: 600px) {
	body{
		width:100vw;
	}
	.full-width, .dashboard{
		grid-template-columns:1fr;
	}
	nav{
		display: block;
margin-top:0px;
background: linear-gradient(180deg, rgba(44,70,144,1) 0%, rgba(247,247,247,0) 92%);  
	}
	.section-title,
	.full-width, nav,.half-width{
		width: 100vw;
	}
	.section-title h1{
		display: none
	}
	.paginate,.social{
		width:80vw;
	}
	header, footer, .container{
		width:100vw;
	}
	.full-width,.container{
		margin:0px;
		padding:0px;

	}
	footer{
		margin:0px;
		padding:0px;
	}
	aside{display: none}
	.half-width article{
		width:91vw;
		padding: 10px;
		
	}
	.playbox{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
		padding: 0px

	}
	.img-md{
		width:90vw;
		display: none;
	}
	.half-width .social a .fab,.half-width .social a .fas{
		font-size: 30px;
		text-shadow: 0px 0px 3px black;
   		 margin: 10px;
	}
	.social center{
		width:90vw;
		background:#000000d1;
		display: none;
	}
	.playbox-container{height: 124px;}
	.playbox-container p{display: inline;}
	.nav-menu{display: none}
	.nav-mobile{
		width:100vw;
		display:block;
		background:#681712;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		position:fixed;
		margin-bottom: 0px;
		bottom: 0px;
		z-index: 1;
	}
	.nav-mobile a{
		text-align: center;
		
	}
	.nav-mobile .fa{
		font-size: 25px;
		padding: 15px;
		color: #f3d519 ;

	}
	header{
		background:none;
	}
	article{
		margin:0px;
	}
	iframe{width: 350px}
}